<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763809115150-d72jk65usgh8rk58tg6fdi75gs0o7kii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763809115150-d72jk65usgh8rk58tg6fdi75gs0o7kii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763809115150-gkeocf9128sn50gvpcb84tam4bh3i8ou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAls26sEmA1sCKJ1_JP2BG-p6GtKOQxShQ</string>
	<key>GCM_SENDER_ID</key>
	<string>763809115150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.trackingworks.mobile.staging</string>
	<key>PROJECT_ID</key>
	<string>trackingworks-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>trackingworks-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763809115150:ios:00242c2828c1717253205f</string>
</dict>
</plist>